:where(*) {
  box-sizing: border-box;
  font-family: unset;
  font-size: 1.1rem;
  line-height: 1;
  margin: 0;
  padding: 0;
}

:where(html, body) {
  height: 100vh;
  line-height: 0;
}

:where(body > .entry-point) {
  padding: 2em;
}

:where(h1) {
  font-size: 1.25em;
}

:where(ul) {
  padding-block: 0.5em;
  padding-inline: 2em;
}
:where(li) {
  padding-inline: 0.5em;
  margin-block-start: 0.5em;
  &:first-of-type {
    margin-block-end: unset;
  }
}

.TOC {
  display: block;
  font-size: 0.85em;
  padding-block: 0.5em;

  &:first-of-type {
    margin-block-end: 1.5em;
  }
  &:last-of-type {
    margin-block-start: 1.5em;
  }
}
